:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

#row {
    margin-top: 43px;
}

.btnEnregistrer {
    margin-top: 14%;
}



/* <!-- =======================================================
* Author: Boujjou Achraf
* License: https://www.linkedin.com/in/achrafboujjou/
======================================================== --> */