table {
    width: 70%;
    margin-top: 17px;
  }

  a {
    margin-top: 17px;
  }

  th {
    font-size: 20px;
  }



  /* <!-- =======================================================
* Author: Boujjou Achraf
* License: https://www.linkedin.com/in/achrafboujjou/
======================================================== --> */